* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Segoe UI Light;
}

.page-container {
	width: 80%;
	margin: auto;
}

.clients-form {
	width: 50%;
	float: left;
	border-right: 1px solid #ccc;
}

.clients {
	width: 50%;
	float: left;
	text-align: center;
}

.clients-form h2,
.clients h2 {
	letter-spacing: 6px;
    color: #5bc7f8;
}

.clients-form input[type=text] {
	display: block;
	margin-bottom: 10px;
	padding: 6px 10px 6px 10px;
	border-radius: 6px;
    border: 1px solid #5bc7f8;

}

.clients-form input[type=file] {
	display: block;
	margin-bottom: 10px;
	padding: 0;
}

.clients-form button {
	background: #5bc7f8;
    color: white;
    padding: 10px 73px 10px 73px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

.clients-search input {
	margin-bottom: 10px;
	padding: 6px 10px 6px 10px;
	border-radius: 6px;
    border: 1px solid #5bc7f8;
    width: 220px;
}

.clients-list table {
	margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.clients-list td,
.clients-list th {
	border: 1px solid #5bc7f8;
    border-collapse: collapse;
    width: 150px;
}
